In [1]:
# Import the dependencies.
import pandas as pd
import numpy as np
import gmaps
import requests
import matplotlib.pyplot as plt
%matplotlib inline

# Import the API key.
import sys
sys.path.append('/Users/katiemtroll/Desktop/API_Keys')
from api_keys import key_google_maps
g_key = key_google_maps

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2022-01-02 20:00:29,-21.3585,55.7679,76.59,80,43,11.36
1,1,Ushuaia,AR,2022-01-02 20:00:30,-54.8000,-68.3000,45.73,49,67,15.90
2,2,Bismarck,US,2022-01-02 20:00:01,46.8083,-100.7837,23.81,72,1,1.99
3,3,Rikitea,PF,2022-01-02 20:00:30,-23.1203,-134.9692,77.47,71,19,9.26
4,4,Albany,US,2022-01-02 19:56:39,42.6001,-73.9662,37.80,92,100,1.99
...,...,...,...,...,...,...,...,...,...,...
546,546,Streator,US,2022-01-02 20:15:20,41.1209,-88.8354,24.04,85,99,1.99
547,547,Rocha,UY,2022-01-02 20:14:26,-34.4833,-54.3333,85.14,48,55,10.78
548,548,Port Hedland,AU,2022-01-02 20:15:21,-20.3167,118.5667,78.85,83,5,8.05
549,549,Yulara,AU,2022-01-02 20:15:21,-25.2406,130.9889,80.44,22,13,10.36
550,550,Sumenep,ID,2022-01-02 20:15:21,-7.0167,113.8667,77.90,83,100,0.83

In [3]:
# to use gmaps, you must use either an integer or a floating-point decimal
# check our data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# create a max temp heatmap
gmaps.configure(api_key=g_key)

In [5]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig_max_temp = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
# use heatmap_laye() function to adjust temps less than 0 (weight must be positive)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig_max_temp.add_layer(heat_layer)
# Call the figure to plot the data.
fig_max_temp

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig_humidity = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig_humidity.add_layer(heat_layer)
# Call the figure to plot the data.
fig_humidity

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig_clouds = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig_clouds.add_layer(heat_layer)
# Call the figure to plot the data.
fig_clouds

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
ws = city_data_df["Wind Speed"]
fig_ws = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=ws, dissipating=False, max_intensity=300, point_radius=4)

fig_ws.add_layer(heat_layer)
# Call the figure to plot the data.
fig_ws

Figure(layout=FigureLayout(height='420px'))

In [10]:
# build the customer interface
# Ask the customer to add a minimum and maximum temperature preferences.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2022-01-02 20:00:29,-21.3585,55.7679,76.59,80,43,11.36
3,3,Rikitea,PF,2022-01-02 20:00:30,-23.1203,-134.9692,77.47,71,19,9.26
5,5,Port Blair,IN,2022-01-02 20:00:31,11.6667,92.7500,78.71,74,29,10.25
8,8,Bambous Virieux,MU,2022-01-02 20:00:32,-20.3428,57.7575,76.21,78,20,5.75
11,11,Davila,PH,2022-01-02 20:00:34,18.4726,120.5763,72.03,76,27,10.67
...,...,...,...,...,...,...,...,...,...,...
544,544,Gamba,GA,2022-01-02 20:15:19,-2.6500,10.0000,77.32,90,99,3.67
545,545,Bartica,GY,2022-01-02 20:15:20,6.4000,-58.6167,82.72,78,39,6.44
548,548,Port Hedland,AU,2022-01-02 20:15:21,-20.3167,118.5667,78.85,83,5,8.05
549,549,Yulara,AU,2022-01-02 20:15:21,-25.2406,130.9889,80.44,22,13,10.36
550,550,Sumenep,ID,2022-01-02 20:15:21,-7.0167,113.8667,77.90,83,100,0.83

In [12]:
# check for null values
preferred_cities_df.count()

City_ID       228
City          228
Country       226
Date          228
Lat           228
Lng           228
Max Temp      228
Humidity      228
Cloudiness    228
Wind Speed    228
dtype: int64

In [13]:
# we're missing a country so drop that row.
preferred_cities_df["Country"].replace('', np.nan, inplace=True)
preferred_cities_df.count()

/opt/homebrew/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

City_ID       228
City          228
Country       226
Date          228
Lat           228
Lng           228
Max Temp      228
Humidity      228
Cloudiness    228
Wind Speed    228
dtype: int64

In [14]:
# get travel destinations in the preferred cities
# make a new dataframe that is a copy of their preferred cities (that one will be filtered at a later date)
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0    Saint-Philippe      RE     76.59 -21.3585   55.7679
3           Rikitea      PF     77.47 -23.1203 -134.9692
5        Port Blair      IN     78.71  11.6667   92.7500
8   Bambous Virieux      MU     76.21 -20.3428   57.7575
11           Davila      PH     72.03  18.4726  120.5763
14            Kunri      PK     67.01  25.1785   69.5691
15           Padang      ID     75.81  -0.9492  100.3543
17      La Asuncion      VE     82.13  11.0333  -63.8628
19     Batemans Bay      AU     71.10 -35.7167  150.1833
25        Hithadhoo      MV     82.20  -0.6000   73.0833

In [15]:
# Search for hotels
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        pass

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,Rikitea,PF,77.47,-23.1203,-134.9692,People ThankYou
5,Port Blair,IN,78.71,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
8,Bambous Virieux,MU,76.21,-20.3428,57.7575,Casa Tia Villa
11,Davila,PH,72.03,18.4726,120.5763,Blue Ridge Beach Resort
...,...,...,...,...,...,...
544,Gamba,GA,77.32,-2.6500,10.0000,
545,Bartica,GY,82.72,6.4000,-58.6167,Sloth Island Nature Resort
548,Port Hedland,AU,78.85,-20.3167,118.5667,The Esplanade Hotel (Accommodation section clo...
549,Yulara,AU,80.44,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
550,Sumenep,ID,77.90,-7.0167,113.8667,OYO 3271 Homestay Pandian

In [18]:
# Add a heatmap of temperature and markers for hotels for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig_hotels = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig_hotels.add_layer(heat_layer)
fig_hotels.add_layer(marker_layer)
# Call the figure to plot the data.
fig_hotels

Figure(layout=FigureLayout(height='420px'))

In [19]:
# add a pop-up marker for each city to display hotel name, city name, country, and max temp
# dl is description list, dt is term/name in description list nested under dl tag, dd tag is sed to define the term/name/dt
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
final_fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
final_fig.add_layer(heat_layer)
final_fig.add_layer(marker_layer)

# Call the figure to plot the data.
final_fig

Figure(layout=FigureLayout(height='420px'))