# Deliverable 2: Create a Customer Travel Destinations Map

In [1]:
# Use input statements to retrieve customer weather preferences
# then use those preferences to identify potential travel destinations and nearby hotels.
# Then, show those destinations on a marker layer map with pop-up markers.

# a. Create a folder called Vacation_Search.

# b. Download the Vacation_Search_starter_code.ipynb file into your Vacation_Search folder, and rename it Vacation_Search.ipynb.

# c. In the Vacation_Search.ipynb file, make sure the dependencies and API keys are imported correctly.

# d. Use the instructions below to add code where indicated by the numbered-step comments in the starter code file.

# e. In Step 1, import the WeatherPy_Database.csv file from your Weather_Database folder from Deliverable 1 as a DataFrame.

# f. In Step 2, write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

# g. In Step 3, use the loc method to filter the city_data_df DataFrame for temperature criteria collected in Step 2, then create a new DataFrame.

# h. In Steps 4a-b, determine if there are any empty rows, then drop them if necessary and create a new DataFrame.

# i. In Steps 5a-b, use the provided code to create a new DataFrame, hotel_df, that will hold the hotel names from the hotel search in Steps 6a-6f.

# j. In Step 6a, we have supplied the search parameters, which are the same as in this module, that you’ll need to use to search for a hotel for each city in Steps 6b-f.

# k. In Steps 6b-f, iterate through the hotel_df DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel 
# based on the search parameters from Step 6a, then add the hotel name to the hotel_df DataFrame. If a hotel isn't found, skip to the next city.

# l. In Step 7, drop any rows in the hotel_df DataFrame where a hotel name is not found.
    # Before exporting your DataFrame as a CSV, take a moment to confirm that your hotel_df DataFrame looks similar to the image below.
    # The new hotel DataFrame has the Hotel Name column completed where hotels are found.

# m. In Steps 8a-b, create an output file to store the hotel_df DataFrame as WeatherPy_vacation.csv in the Vacation_Search folder.

# n. In Step 9, add the city name, the country code, the weather description, and the maximum temperature for the city to the info_box_template format template we have provided.

# o. In Step 10a, use the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the hotel_info list.

# p. In Step 10b, use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame.

# q. In Steps 11a-b, refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

# r. Take a screenshot of your map and save it to the Vacation_Search folder as WeatherPy_vacation_map.png.
    # The marker layer map with a pop-up marker for each city should look similar to the following image:
    # The new hotel DataFrame includes pop-up markers for each city.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from citipy import citipy
import gmaps
import requests
import time
from datetime import datetime

# Import the API keys.
import sys
sys.path.append('/Users/katiemtroll/Desktop/API_Keys')
from api_keys import key_google_maps
g_key = key_google_maps

#configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Botwood,CA,49.1499,-55.3482,22.89,73,97,13.11,overcast clouds
1,1,Iqaluit,CA,63.7506,-68.5145,2.93,84,90,24.00,light snow
2,2,Ushuaia,AR,-54.8000,-68.3000,53.22,62,20,28.77,few clouds
3,3,Lata,PT,40.1629,-8.3327,54.91,95,100,10.31,light rain
4,4,Suarez,CO,2.9540,-76.6964,73.60,83,93,0.96,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Suarez,CO,2.9540,-76.6964,73.60,83,93,0.96,overcast clouds
6,6,Buala,SB,-8.1450,159.5921,79.90,84,88,7.38,light rain
7,7,Labuhan,ID,-6.8844,112.2051,78.35,76,100,7.96,overcast clouds
8,8,Kapaa,US,22.0752,-159.3190,66.52,78,1,6.91,clear sky
10,10,Luanda,AO,-8.8368,13.2343,80.49,71,42,12.10,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
687,687,Chivilcoy,AR,-34.8957,-60.0167,80.49,15,0,8.21,clear sky
690,690,Pizarro,CO,4.9533,-77.3660,76.73,92,97,7.96,light rain
692,692,Mahibadhoo,MV,3.7833,72.9667,81.77,78,99,16.55,overcast clouds
696,696,Tuy Hoa,VN,13.0833,109.3000,72.16,94,41,6.24,scattered clouds
699,699,Dawei,MM,14.0833,98.2000,72.68,83,36,2.80,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                266
City                   266
Country                263
Lat                    266
Lng                    266
Max Temp               266
Humidity               266
Cloudiness             266
Wind Speed             266
Current Description    266
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna(how="any")
preferred_cities_df.count()

City_ID                263
City                   263
Country                263
Lat                    263
Lng                    263
Max Temp               263
Humidity               263
Cloudiness             263
Wind Speed             263
Current Description    263
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Suarez,CO,73.60,overcast clouds,2.9540,-76.6964,
6,Buala,SB,79.90,light rain,-8.1450,159.5921,
7,Labuhan,ID,78.35,overcast clouds,-6.8844,112.2051,
8,Kapaa,US,66.52,clear sky,22.0752,-159.3190,
10,Luanda,AO,80.49,scattered clouds,-8.8368,13.2343,
13,Butaritari,KI,81.32,overcast clouds,3.0707,172.7902,
18,Muna,MX,68.88,clear sky,20.4833,-89.7167,
21,Kavieng,PG,81.27,light rain,-2.5744,150.7967,
23,Labuan,MY,79.16,few clouds,5.2767,115.2417,
24,Busselton,AU,66.60,clear sky,-33.6500,115.3333,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [10]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        pass

hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Suarez,CO,73.60,overcast clouds,2.9540,-76.6964,Hotel Estrella Dorada
6,Buala,SB,79.90,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
7,Labuhan,ID,78.35,overcast clouds,-6.8844,112.2051,DoubleFAG
8,Kapaa,US,66.52,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Luanda,AO,80.49,scattered clouds,-8.8368,13.2343,Hotel Fórum

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how="any")
clean_hotel_df.count()

City                   263
Country                263
Max Temp               263
Current Description    263
Lat                    263
Lng                    263
Hotel Name             263
dtype: int64

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [14]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
final_fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
final_fig.add_layer(marker_layer)
# 11b. Display the figure
final_fig

Figure(layout=FigureLayout(height='420px'))